body {
  font-family: "Roboto", sans-serif;
}

.navbar-images {
  filter: invert(42%) sepia(5%) saturate(20%) hue-rotate(347deg) brightness(92%)
    contrast(87%);
}
.hover-icon {
  filter: invert(0%) sepia(4%) saturate(7500%) hue-rotate(164deg)
    brightness(102%) contrast(104%);
}
a {
  filter: invert(42%) sepia(5%) saturate(20%) hue-rotate(347deg) brightness(92%)
    contrast(87%);
  text-decoration: none;
}
a .active {
  filter: invert(0%) sepia(4%) saturate(7500%) hue-rotate(164deg)
    brightness(102%) contrast(104%);
  border-bottom: 2px solid black;
  transition: border-width 0.6s linear;
}

.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: flex;
}

.myDIV2:hover + .hide {
  display: flex;
}

.isActive {
  background-color: red;
  color: #fff;
}

.slide {
  /* opacity: 0; */
  transition: 4s;
  left: -10%;
}

.slide-active {
  /* opacity: 1; */
  transition-duration: 2s;
}
#menu-button-:r3 {
  width: 5.861rem;
}

.swiper {
  width: 600px;
  height: 300px;
}
.link,
.link:link,
.link:visited {
  color: #0a66c2;
}
